contourpy==1.1.1
cycler==0.12.1
ffmpeg-python==0.2.0
fonttools==4.43.1
future==0.18.3
garmin-fit-sdk==21.126.0
geographiclib==2.0
geopy==2.4.1
gpxpy==1.6.2
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.8.0
numpy==1.26.0
packaging==23.2
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
zipp==3.17.0
